[2016-07-15 12:45] fundon opened #1 "throw error when static is enabled"
From @JeOam https://github.com/fundon/vue-admin/issues/26#issuecomment-232914100

[2016-07-15 12:47] #1 closed, assigned to nobody

[2016-08-01 18:58] EmilMoe opened #3 "Unexpected token"
When I try to parse it with browserify I get this error:

[code]

I import it using

[code]

[2016-08-04 16:45] sanbeaman commented on #3
any word on this? I'm getting the same issue.

`Browserify Failed!: Parsing file ......... /node_modules/vue-bulma-datepicker/src/Datepicker.vue: Unexpected token (1:0)`

[2016-08-04 17:14] EmilMoe commented on #3
@sanbeaman take a look here, I made it work:

https://laracasts.com/discuss/channels/vue/flatpickr

[2016-08-04 19:17] sanbeaman commented on #3
so it looks like you abandoned the vue-bulma-datepicker and rolled your own with flatpickr directly..

[2016-08-04 19:18] EmilMoe commented on #3
Yeah.. I was struggling making it work and was under presssure.

[2016-08-04 19:19] sanbeaman commented on #3
thanks, I'll try and do the same!

[2016-08-05 14:27] fundon commented on #3
@EmilMoe  Could you post a PR?

[2016-08-29 21:36] junerockwell opened #4 "Module not found: Error: Cannot resolve module 'stylus-loader'"
Below is the specific error message right after the dev server starts (`npm run dev`):

[code]

I installed this component like this: `npm install --save vue-bulma-datepicker`

I installed `stylus-loader` but I still have the same error and added this to my webpack.base.conf.js file:

[code]

But the error is still there.

Vue: v1.0.21
bulma: v0.1.2
template: Webpack

[2016-09-03 09:18] fundon commented on #4
Which version of your NPM?

NPM v3 is required.

[2016-09-06 07:57] JerroldLee commented on #4
The error is still there，my npm is 3.10.3

[2016-09-06 09:03] fundon commented on #4
Do you use `vue-cli` to generate your project?

[2016-09-12 17:52] sebpl007 opened #5 "v-model issue"
I am having the issue with v-model because when I apply new v-model variable it, the component doesn't pass the data to it and I have noticed that the field already has v-model variable which is "value" but when I try top print out this data and selecting new date it doesn't work... How should I do this part?

[2016-09-20 08:17] #4 closed, assigned to nobody

[2016-09-20 16:26] Ben52 opened #6 "Vue 2.0"
I'm trying to install in a Vue 2.0 project, and getting
`Peer vue-bulma-datepicker@1.1.0 wants vue@^1.0.26` message.

[2016-09-22 15:55] CMLL commented on #3
I ran into this same problem, and found out that transforming the file with vueify makes the error go away,

`browserify -t vueify -e src/main.js -o web/app.js`

but unfortunately for me, that also other stuff on my application, so if anyone finds what to make to avoid having to vueify the component would be great.

[2016-09-24 02:27] fundon commented on #6
Currently, it's not published to NPM. So use this `npm i vue-bulma/datepicker`.

[2016-10-16 09:30] projct1 commented on #6
I try this: `Vue.component('datepicker', require('vue-bulma-datepicker'));`
And have error:
`Module not found: Error: Can't resolve './WrapperInput' in 'D:\WEB\domains\bron\node_modules\vue-bulma-datepicker\src'`

[2016-10-16 12:33] fundon commented on #6
@rorc Which vue version?

[2016-10-16 12:53] projct1 commented on #6
@fundon 2.0.3

[2016-10-16 13:30] fundon commented on #6
@rorc Do you use webpack?

[2016-10-16 14:05] projct1 commented on #6
@fundon Yep =)

[2016-10-16 14:39] fundon commented on #6
I'm on macOS, So I should find a windows for testing. But the [appveyor ci](https://ci.appveyor.com/project/fundon/vue-admin) is green.

[2016-10-18 22:35] silentdragonz commented on #6
I had the same issue along with a stylus error. I had to install stylus and stylus-loader which weren't required anywhere or mentioned that I had to have them installed in the docs or from NPM.

To fix the SingleInput/WrapperInput errors I had to add `resolve: {
                extensions: ['', '.js', '.vue'],
        }
` to my webpack config to make it work. If you include the .vue on your import

[2016-11-14 13:20] marcpaskell commented on #5
I think this is because the change isnt emitted... it should have something like this in place so you can use the v-model

in index.vue

  mounted () {
    if (!this.datepicker) {
      this.datepicker = new Datepicker(this.$el, this.config, this.l10n)
      this.datepicker.set('onChange', (d, s) => {
        this.value = s
        **this.$emit('input', s)**
      })
    }
  }

[2016-11-15 17:58] recs182 opened #7 "Warn Custom Element"
I trying to use this datepicker in my project but I'm getting this issue:
[code]

I imported it and also registered in components object as you can see bellow:
`import Datepicker from 'vue-bulma-datepicker';`
[code]

And I have it in my template
`<datepicker :config="{ dateFormat: 'd-m-Y' }" value="person.born"></datepicker>`

Any suggestion?

[2016-11-17 00:20] victorkurauchi commented on #5
i was facing a similar issue, so what @squalli2008 helped.

mycomponent.js

[code]

vue-bulma-datepicker/index.vue

[code]

[2016-11-23 01:17] vetalball commented on #5
@squalli2008 I have the same problem, but your solution doesn't work for me.
When I add:
[code]

I get an error:
[code]
Do you have any idea how it can be fixed?

[2016-11-30 08:40] gyamxxx opened #8 "customize input class"
Hi, I'm sorry poor English.
could you add :class attribute in these files for customizing class ?

https://github.com/vue-bulma/datepicker/blob/master/src/SingleInput.vue#L2
https://github.com/vue-bulma/datepicker/blob/master/src/WrapperInput.vue#L3

[2016-12-10 00:33] romines commented on #5
Wait, what is the point of a datepicker if you can't the value out? Can you not use v-model with any Vue Bulma components?

[2016-12-14 03:43] brucejcw opened #10 "npm vue version is 1.x"
npm vue version is 1.x, not sync with github

![2016-12-14 11 43 02](https://cloud.githubusercontent.com/assets/8085088/21168893/859b0c22-c1f2-11e6-83b3-a59eff3c4da5.png)

[2016-12-14 08:50] vetalball commented on #5
The issue is fixed, can be closed.

[2016-12-17 08:20] arsis-dev opened #11 "failed to locate @import file ~flatpickr/src/style/flatpickr_base.styl"
Hello,

And thank you for your awesome job !

The base style of flatpickr changed to flatpickr.styl

[2016-12-17 08:38] fundon commented on #11
Thank you.

Landed in v1.2.1.

[2016-12-17 08:39] #11 closed, assigned to nobody

[2016-12-17 08:39] fundon commented on #10
Landed in v1.2.1.

[2016-12-17 08:39] #10 closed, assigned to nobody

[2016-12-17 08:44] fundon commented on #8
Try this:

[code]

[2016-12-17 08:51] fundon commented on #7
Thanks. Please try v1.2.1.

[2016-12-17 08:57] #5 closed, assigned to nobody

[2016-12-17 10:17] fundon commented on #6
Try v1.2.1.

[2016-12-17 10:17] #6 closed, assigned to nobody

[2016-12-17 10:31] fundon commented on #8
Landed in v1.2.2

Try:

[code]

[2016-12-17 10:31] #8 closed, assigned to nobody

[2016-12-17 10:40] #7 closed, assigned to nobody

[2016-12-17 10:41] #3 closed, assigned to nobody

[2016-12-17 16:50] gyamxxx commented on #8
thanks! good works

[2016-12-24 08:25] tzsk opened #13 "Proposal : Include Date Range Picker"
The DatePicker looks so awesome. But it lacks a few things. Maybe if it is identical in functionality with jQuery DatePicker it would have been huge difference. Like start and End date. And hooks to every bit of data. Methods and Events.

For now my proposal is to include Date Range Picker. It would be a nice inclusion.

[2016-12-29 09:31] hwupu commented on #13
Actually it is documented in https://chmln.github.io/flatpickr/#options

My solution is:
[code]

[2016-12-29 09:39] hwupu opened #14 "How do I programmatically control the datepicker?"
As referred in API section, https://chmln.github.io/flatpickr/, I will like to programmatically control it. For instance, when user want to reset/clear form, I'll like to set datetime picker to its default value. I should be able to do so by using `setDate()`, but how do I talk to the instance at the first hand?

[2016-12-29 12:21] #13 closed, assigned to nobody

[2017-01-19 15:56] pinguinjkeke opened #16 "l10n property does notihing"
Hi. I'm trying to change rangeSeparator and firstDayOfWeek via l10n property, but without any success

[2017-01-21 20:35] xtianatilano opened #17 "How do I set minDate dynamically?"
I have two datepicker components, a start datepicker and end datepicker.

I tried passing the value of the start datepicker to end datepicker's minDate, it doesn't disable the dates prior to the selected date.

[2017-01-24 19:04] beliolfa commented on #14
+1

[2017-01-24 19:29] xereda commented on #4
I used vue-cli and I have the same problem. What to do?

[code]

[2017-02-04 20:55] altunyurt opened #18 "placeholder can not be set"
The following does not set the placeholder. It's always "Pick date"

    <datepicker placeholder="Tarih seçiniz" :config="config" readonly @input="input">

[2017-02-04 21:13] altunyurt commented on #18
Oh seems to have already fixed :D

[2017-02-04 21:13] #18 closed, assigned to nobody

[2017-02-13 14:10] dimamarksman opened #19 "v-model init value"
Please implement proper working `v-model` with datepicker to be able to set initial date value.

[2017-02-14 01:19] luventa commented on #19
What's your issue? I think it works properly.

`<datepicker v-model="value"></datepicker>`

[2017-02-14 09:09] dimamarksman commented on #19
Is there cdn or any public access to the datepicker plugin to show example in a sandbox?

[2017-02-17 16:14] 3lpsy commented on #4
I had a similar problem, but that was because I forgot to include stylus itself.

[code]

[2017-02-20 16:22] rcubitto commented on #19
I have the same problem...

`<datepicker v-model="value"></datepicker>` if I set `value`, it won't be shown in the input.

[2017-02-20 17:04] dimamarksman commented on #19
@luventa what is a reason to assign `v-model="value"` [here](https://github.com/vue-bulma/datepicker/blob/master/src/SingleInput.vue#L2)?
The `value` is always empty string there that's why the input is always empty in the begining.
I dropped this v-model on my side and use `defaultDate` option ([flatpickr](https://chmln.github.io/flatpickr/)) to assign initial value as a workaround.
But it is not

[2017-02-21 03:50] luventa commented on #19
Thought you want a init date for it and here is the example code.

[code]

[2017-02-21 07:56] dimamarksman commented on #19
Yes, but using `wrap: true` option.
[code]

[2017-02-21 10:22] luventa commented on #19
@dimamarksman I think this is a bug. Will fix

[2017-02-21 10:23] dimamarksman commented on #19
Thank you!

21 февр. 2017 г. 12:22 PM пользователь "Pan Yue" <notifications@github.com>
написал:

[2017-02-21 14:33] #19 closed, assigned to luventa

[2017-02-21 14:34] luventa commented on #19
fixed. Will publish soon. Feel free to reopen
Thanks!

[2017-02-21 14:59] luventa commented on #19
I have to rebase my commits to keep minimum code change.
Please check the fix [4dce70f](https://github.com/vue-bulma/datepicker/commit/4dce70f7e44ab24315d803ffa9f38f542c3a57af)

I will publish this component after other issues are fixed.
Please make change locally for time being. Really appreciate.

[2017-02-22 04:23] luventa commented on #17
Hi @xtianproject . I think you do not need two datepicker for this.
Try range example:

[code]

[2017-02-22 04:47] luventa commented on #16
`:l10n` cannot work now.
use `locale` instead.

[code]

[2017-02-23 17:42] PsychicCat commented on #14
to control the value just manipulate the `:value` prop

[2017-02-24 01:28] luventa commented on #14
yes I understood that `v-model` on component element needs a `value` prop. But it's not requisite.
This issue has been fixed in [4dce70f](https://github.com/vue-bulma/datepicker/commit/4dce70f7e44ab24315d803ffa9f38f542c3a57af)

Now we can merely bind data to datepicker like this:

[code]

[2017-02-24 01:28] #14 closed, assigned to nobody

[2017-02-24 08:07] luventa commented on #17
Also you can check this demo [vue-admin/Datepicker](https://github.com/vue-bulma/vue-admin/blob/master/client/views/components/Datepicker.vue#L107)

[2017-02-24 08:07] #17 closed, assigned to nobody

[2017-02-24 08:07] #16 closed, assigned to nobody

[2017-02-24 08:36] vniko opened #20 "Doesn't work for me"
Hi, just tried  to use this component and it crashes to blank page
Vue v2.1.10
Used it as:

[code]
Uncaught SyntaxError: Unexpected token export
    at Object.<anonymous> (app.js:1374)
    at __webpack_require__ (app.js:556)
    at fn (app.js:87)
    at eval (eval at <anonymous> (app.js:1068), <anonymous>:23:24)
    at Object.<anonymous> (app.js:1068)
    at __webpack_require__ (app.js:556)
    at

[2017-02-24 09:50] luventa commented on #20
what's your webpack version?

[2017-02-24 10:05] vniko commented on #20
1.13.2

[2017-02-24 10:06] luventa commented on #20
you need to upgrade webpack to 2.x to support native js.

[2017-02-24 10:12] vniko commented on #20
Thanks,
Would be great if    you mention it somewheere  in requirements

[2017-02-24 10:12] #20 closed, assigned to nobody

[2017-02-24 10:23] luventa commented on #20
Yes. I will add `peerDependencies` or documents for it.
Thank you very much!

[2017-02-24 19:23] adambiggs opened #21 "Latest NPM release broken"
I just tried updating to v1.2.6, but now my app fails to build with the following error:

[code]

I had a look inside `node_modules/vue-bulma-datepicker` and it seems like the release is corrupted by  some kind of windows file path issue:

[code]

[2017-02-24 19:25] adambiggs commented on #21
v1.2.4 is the last release that works. v1.2.5 and v1.2.6 are both broken.

[2017-02-24 23:11] fundon commented on #21
Thanks to report.

[2017-02-24 23:14] fundon commented on #21
@luventa Do you execute the command `yarn publish` on Windows?

[2017-02-25 00:07] adambiggs commented on #21
@fundon I tried installing v1.2.7 that you just published... and that's broken too! 😵

[code]

I ran into this myself when trying to publish to npm with `$ yarn publish`. [See here for more info](https://github.com/yarnpkg/yarn/issues/1619#issuecomment-271216626).

[2017-02-25 13:35] luventa commented on #21
@fundon Yes, after that I cleaned and reinstalled my `node_modules`  of vue admin. And everything work correctly.
@adambiggs could you please check if folder `vue-bulma-datepicker` exists under your `node_modules`, please?

[2017-02-25 14:02] luventa commented on #21
@adambiggs I tested with an empty folder with 1.2.7 and it failed. So I just published 1.2.8 with npm this time.
Test passed, it shall works. Seems `yarn publish` is not working for the time being. Thanks!

[2017-02-25 22:36] fundon commented on #21
@adambiggs Thanks.

[2017-02-25 22:37] #21 closed, assigned to nobody

[2017-03-05 01:09] MBach opened #24 "TypeError: hooks[i] is not a function"
Hi,
I've launched latest https://github.com/vue-bulma/vue-admin and there is a problem with the datepicker component.
In the console (in watch function), I never have a single valid value displayed, but every time I have:

    TypeError: e.composedPath is not a function
    TypeError: hooks[i] is not a function

Any idea why?

[2017-03-05 18:37] dbalas commented on #24
I solved this setting onChange event in config object
`
this.config.onChange = (d, s) => {
    console.log("onChange")
    this.date = s;
}
`

[2017-03-06 02:00] luventa commented on #24
It's a compatibility issue. I'm trying to fix it.

[2017-03-06 08:58] #24 closed, assigned to luventa

[2017-03-06 09:04] luventa commented on #24
reopen whenever you want. Thanks.

[2017-03-06 10:54] MBach commented on #24
It's working fine. Great job!

[2017-03-08 01:03] mikeerickson opened #26 "Working Demo?"
I am looking for a working demo of this component.   Trying to integrate into our app, however, webpack throws a fit.  I have already had to install a slew of `loaders` which shouldn't be required when working with an npm module?

[code]

[2017-03-08 08:01] luventa commented on #26
Please check. I created this demo for you minutes ago.
https://github.com/luventa/datepicker-demo

[2017-03-08 18:51] adambiggs opened #27 "Unit tests failing after updating to v1.3.0"
I still need to investigate the cause, but after updating to v1.3.0 my unit tests are now failing:

[code]

My project was set up using [Vue Webpack template](https://github.com/vuejs-templates/webpack).

[2017-03-08 19:03] adambiggs commented on #27
I was able to fix this by telling Webpack to run `vue-bulma-datepicker` through `babel-loader`.

[code]

To make this library easier to use, it might be nice to add a `dist/` directory with pre-compiled files that can be used without any extra steps.

[2017-03-09 00:55] luventa commented on #27
Yes, will do. Unpackaged vue file is not convenient.

[2017-03-10 01:22] #26 closed, assigned to nobody

[2017-03-11 14:43] marvinosswald opened #28 "Incompatible with Safari 9.1 OSX 10.4.11"
just a quick notice.. chrome works just fine

[2017-03-12 09:47] defiant opened #29 "Input is lost on clicking another input element"
When another input element on the same page is updated. Datepicker component resets its value to the beginning and the value entered is lost.

[2017-03-13 20:30] defiant commented on #29
Doesn't say this in docs but it looks like it needs a v-model in the component. Otherwise the value entered is lost.

[2017-03-13 20:30] #29 closed, assigned to nobody

[2017-03-17 08:51] andreapavoni opened #31 "Datepicker closes when selecting one of year / month / hour / minute"
When datepicker is open, if I select a day it stills remains open. However, when I change one of year/month/hour/minute it sets the value on input but it also closes the datepicker. This means that I want to set hour from 12 to 14 it closes when I click on the arrow-up to increase the hour.

does anyone have the same issue?

[2017-03-17 10:24] andreapavoni commented on #31
Just some more details on this issue: I've found that the directive `ClickOutside` in `index.vue` is responsible for this behaviour. It looks like that it considers clicks outside the _days grid_ as something not related to the datepicker.

[2017-03-17 11:05] andreapavoni commented on #31
Entirely removing the `vue-click-outside` directive solves the problem

[2017-03-21 10:22] MBach opened #32 "Incompatibility issue with Bulma 0.4.0"
Hi,
With latest release of Bulma (0.4.0), writing forms must be enclosed by DIV with class field, like this:

    <div class="field">
      <label class="label" for="country">Country</label>
      <p class="control is-expanded">
        <span class="select is-fullwidth">
          <select class="is-fullwidth" name="country" v-model="selected_country" @input="updateUser">
            <option v-for=

[2017-04-03 04:31] ghost opened #33 "BaseInput mixin is incorrectly imported"
`index.vue` is unable to correctly use the BaseInput mixin because of this http://stackoverflow.com/questions/33505992/babel-6-changes-how-it-exports-default

In order to make it work I have to change `mixins: [BaseInput]` to `mixins: [BaseInput.default]` but this never used to be the case. Something is going on and I haven't a clue how to fix it.

[2017-04-04 01:04] ghost commented on #32
Yeah as a result of this I had to copy the files and edit them to my taste. I'm not git savvy myself but here was my solution:

WrapperInput.vue
[code]

Form.vue (or whatever you call it)
[code]

I added an icon myself as I'm using it as a date of birth field but of course that is easily omitted.

![image](https://cloud.githubusercontent.com/assets/4530100/24637685/fbb1a5d0-18da-11e7-8058-742f758e

[2017-04-05 15:21] MagoDev opened #34 "laravel 5.4"
npm install vue-bulma-datepicker --save

This dependency was not found:

vue-style-loader!css-loader!../../vue-loader/lib/style-rewriter?id=data-v-58620bec!stylus-loader!../../vue-loader/lib/selector?type=styles&index=0!./index.vue in ./~/vue-bulma-datepicker/src/index.vue

To install it, you can run: npm install --save !!vue-style-loader!css-loader!../../vue-loader/lib/style-rewriter?id=data-v-58

[2017-04-05 22:06] rambii commented on #34
For me the following command solved it:
`npm install stylus stylus-loader style-loader --save-dev`

Solution came from here:
https://forum.vuejs.org/t/style-loader-and-css-loader/6409/12

[2017-04-06 02:29] luventa commented on #34
@MagoDev stylus-loader and related loaders are required. Please try rambii's solution.
@rambii Thank you for provide the solution.
Thanks!

[2017-04-08 11:18] phamels opened #35 "v-model not being updated"
Hi,

using the following code:

`<datepicker :config="{ dateFormat: 'd-m-Y'" v-model="datum"></datepicker>`

displays the datepicker properly and allows me to select a date, however upon selecting a new date, v-model is not being updated.
I also tried like this:

`<datepicker :config="{ dateFormat: 'd-m-Y', onChange: dateChange() }" v-model="datum"></datepicker>`

though it only gets triggered the

[2017-04-18 18:33] phamels commented on #35
More info: using Laravel 5.4; component loads fine; doesn't seem to work; though I can trigger an event when I change in index.vue of vue-bulma-datepicker for example and click outside the datepicker:

  methods: {
    closePicker () {
      console.log('bla');
      this.datepicker.close()
    }
  },

[2017-04-18 19:31] phamels commented on #35
Just made it emit the value since v-model binding is not working.

[2017-04-25 15:14] jarkyll opened #37 "Index.vue has two methods hooks"
The first methods hook gets overwritten by the other methods hook.

[2017-05-05 03:40] uptownhr commented on #32
any update here?

[2017-05-05 03:42] uptownhr opened #40 "dist, dev environment, dependencies"
Is it possible to list your dev dependencies so this can be used by others? For example, stylus is a dependency but can't be used right now as it's not included.

Best case scenario though, a distribution version of the component should be made available so people using the component does not need to know your dev-dependencies.

[2017-05-05 08:58] wilk opened #41 "SSR not supported"
Missing support for Server Side Rendering: this is due to this issue https://github.com/vue-bulma/click-outside/issues/5 (vue-bulma-click-outside dep).

Following a workaround:

[code]

And then, inside the HTML template:
[code]

[2017-05-05 12:23] #35 closed, assigned to nobody

[2017-05-05 12:24] phamels commented on #35
my mistake, didn't load the component properly. Working now except an error I get when I try to define :config options, even though the options are accepted:

[Vue warn]: Error in callback for watcher "config": "TypeError: Cannot read property 'call' of undefined"
TypeError: Cannot read property 'call' of undefined

[2017-05-05 20:57] mycahp opened #42 "Error emitted when using datepicker"
On version 1.3.0, I am using the datepicker like this:

`
<datepicker name="toDate" class="input" type="date" :config="{dateFormat: 'm-d-Y'}" v-model="toDate" placeholder="To" />
`

When I change to a different route, every click on the page produces this error message:

I am using version 2.2.6 of VueJS. No functionality is being lost, just a ton of errors in the console. If I remove the datepick

[2017-05-06 17:20] freimaks opened #43 "Error in callback for watcher "config""
An error occurs when updating the page content:

[code]

![image 6](https://cloud.githubusercontent.com/assets/26241659/25774526/2dbe7698-3299-11e7-8d09-98567b926358.png)

[2017-05-06 19:31] beliolfa commented on #43
It is caused by an error in index.vue.

There are two `methods` declarations, the last one overrides the first one.

[2017-05-06 19:38] peteleco commented on #43
There's two PR's [#38](https://github.com/vue-bulma/datepicker/pull/38) [#39](https://github.com/vue-bulma/datepicker/pull/39)  fixing this

[2017-05-07 03:02] KKSzymanowski commented on #43
Until @luventa merges the fix, it should work on v. 1.3.0 from March 6th.

[2017-05-10 08:44] Boevsson opened #44 "v-model's value doesn't change"
`<datepicker v-model="publishedAt"></datepicker>`

the value of 'publishedAt' doesn't change when date is picked

[2017-05-10 15:19] rcubitto commented on #43
Is it possible to merge either of these PRs? It's a quick fix and it's affecting everyone.

[2017-05-11 14:35] kennonb commented on #31
I see this same behavior in Firefox 53 or later. Doesn't seem to happen in Chrome or Safari. Not sure if that's helpful or not.

[2017-05-16 07:16] moonlik commented on #43
@fundon @luventa please merge these PRs!

[2017-05-16 09:52] chimit opened #45 "UglifyJs Unexpected token: punc ()"
I can't build the project with [WebPack](https://github.com/vuejs-templates/webpack). When I run `npm run build` I get:
[code]

[2017-05-16 10:31] AlbertClo commented on #43
I have this problem too. I can confirm that the pull request solves the problem as well. Merge please :)

[2017-05-19 21:48] FroeMic commented on #37
+1

[2017-05-19 21:51] FroeMic commented on #43
Yeah, please merge one of these PRs 💃

[2017-05-20 00:10] KKSzymanowski commented on #43
@fundon @luventa I understand it's open source, you're doing it for free and I'm in no position to demand active participation, but please just hit the damn Merge button.

[2017-05-21 07:41] brunokunace commented on #42
Uncaught TypeError: Failed to execute 'contains' on 'Node': parameter 1 is not of type 'Node'.
    at isPopup (eval at 312 (2.js:95), <anonymous>:15:19)
    at HTMLDocument.handler (eval at 312 (2.js:95), <anonymous>:36:36)

Same here

[2017-05-22 16:14] angganegara commented on #45
I had this problem and after a very frustrating google search, it seems you need to install Babel preset with shorthand-properties plugins.

[2017-05-23 04:35] holic-cl opened #46 "Error in callback for watcher "config": "TypeError: Cannot read property 'call' of undefined""
Hi, i am getting this error when i try to set the config param to mode: 'range'.

[code]

Any suggestion would be helpful.

Regards.

[2017-05-23 12:41] ankurk91 commented on #34
@luventa
Is it possible to replace **stylus** with **sass**. OR just use plain css.

PS. Is there any need to override flatpicker stylus variables ?

[2017-05-24 12:14] wukaikailive opened #47 "Can't use datepicker in the modal component"
I can't use datepicker in the modal component.
Because the modal component will cover the datepicker.

There is my screenshot:
![wpabcszkm 8vaacb0xpn ft](https://cloud.githubusercontent.com/assets/8515824/26402505/45b88dd8-40bd-11e7-8884-9b1d460f831e.png)

Can i get any suggestions?
Thanks.

[2017-05-26 02:55] jaybeecave commented on #46
seems to happen when config is set, looking at this now

[2017-05-26 02:58] jaybeecave commented on #46
PR #39 will solve this if its merged.

[2017-05-26 03:25] luventa commented on #34
@ankurk91 Guess I need to make a project to pre-build these components. Then these loaders will become unessential for using vue bulma components.

I will do this late. Thanks.

[2017-05-26 04:01] holic-cl commented on #46
Thanks, i will wait for that.

[2017-05-26 09:02] ankurk91 commented on #37
Should be fixed by #39

[2017-05-27 13:27] Reechee88 commented on #44
any update?

[2017-05-27 23:33] Kuchiriel commented on #47
I have the same issue, I think its is related to flatpickr.

[2017-05-27 23:34] Kuchiriel opened #48 "Better use vuejs-datepicker, instead of flatpickr"
Flatpickr is crashing in modal component, I has to use this https://www.npmjs.com/package/vuejs-datepicker to solve.

[2017-06-01 08:46] luventa commented on #47
related issue. #48
I will try to find a way to fix this.
Thanks guys!

[2017-06-01 08:47] luventa commented on #46
merged pr #38 which has the same code change as #39.
This issue shall be fixed. I'm upgrading the version now.

[2017-06-01 08:53] luventa commented on #46
new version published. Please check if this issue is still there or not.
Feel free to reopen this issue. Thanks!

[2017-06-01 08:53] #46 closed, assigned to nobody

[2017-06-01 09:02] luventa commented on #43
Yes sir, pr has been merged and new version is just published. 😢

[2017-06-01 09:02] #43 closed, assigned to nobody

[2017-06-01 09:03] luventa commented on #37
fixed.

[2017-06-01 09:03] #37 closed, assigned to nobody

[2017-06-01 09:07] luventa commented on #32
Sorry for replying so late.
I'm going to upgrade version of Bulma for vue-admin and fix this issue these days.

[2017-06-01 13:21] ankurk91 opened #49 "Set value programmatically"
I was unable to set date programmatically.
Using v1.3.3 with vue v2.3.3

[code]

P.S. I don't think the issue caused by config.dateFormat

[2017-06-02 02:15] luventa commented on #41
Fix SSR error.

[2017-06-02 02:15] #41 closed, assigned to nobody

[2017-06-02 02:44] luventa commented on #49
I'm looking into it.

update 1: `config` causes initial date is not applied.

update 2: found useful info here...[config options](https://chmln.github.io/flatpickr/options/)

I'm trying to fix this now.

[2017-06-02 04:44] ankurk91 commented on #49
@luventa
I dont think it is config issue, you can remove ``:config`` and try

[2017-06-02 05:43] luventa commented on #49
yes, right, flatpickr wont update its selected date unless `setDate` is called.
Still working on it.

[2017-06-02 05:46] luventa commented on #33
Guess you need these config in your`.babelrc`
[code]

[2017-06-02 06:36] ankurk91 commented on #49
Try adding this:
[code]

[2017-06-02 06:39] luventa commented on #49
Already did that but the `dateFormat` will interrupt date convert. But set prop value to Date type is not a good choice. Also I found some thing else, need to refactor the component.

[2017-06-02 09:19] #49 closed, assigned to nobody

[2017-06-02 09:25] luventa commented on #49
I've fixed your issue and the demo is here [Demo](https://github.com/luventa/datepicker-demo) (will work correctly after new version is published).
When `dateFormat` is set, the date string which you are using for `v-model` needs to follow the format.

I figured out a way to validate the date string for `single` mode but there are still too may validations further... So I gave up to implement date

[2017-06-02 09:28] luventa commented on #31
I made some change for this component. It not uses `vue-click-outside` anymore. This issue shall be fixed.

[2017-06-02 09:28] #31 closed, assigned to nobody

[2017-06-02 09:32] luventa commented on #44
fixed in v1.3.4

[2017-06-02 09:32] #44 closed, assigned to nobody

[2017-06-02 09:34] luventa commented on #42
There is no need to set `type="date"` and a simple demo is [here](https://github.com/luventa/datepicker-demo)

[2017-06-02 10:41] luventa commented on #40
[here](https://github.com/luventa/datepicker-demo) is my demo for this component. And I listed the commands needed.
Will add this list to `README` for this project late.
Thanks!

[2017-06-02 16:06] cashlion commented on #44
I'm still having this issue with 1.3.4. The datepicker will read the initial value but it won't update it when I select a different date.

[2017-06-02 17:57] jarkyll opened #50 "Selecting another month will cause the object to remain being focused"
[code]
- If you select a date that it not in the current month shown on the date picker, the input tag will still remain focused and the above error will be shown in the console.
- For example, if you have the month of July shown in the datepicker and you select a date that is shown in the datepicker aka (August 1st), the datepicker will remain focused and the error above will be shown in the cons

[2017-06-03 03:33] luventa commented on #44
@cashlion sorry, made a stupid mistake yesterday. Now fixed.
Also this a [demo](https://github.com/luventa/datepicker-demo)

[2017-06-03 03:41] luventa commented on #50
Sorry but I cannot repo this error.
Can you try this [demo](https://github.com/luventa/datepicker-demo) or provide your code please?

[2017-06-03 13:42] cashlion commented on #44
Great, thanks!

[2017-06-07 13:31] andreich1980 opened #51 "How can I use events?"
I'm reading docs at https://chmln.github.io/flatpickr/events/ but can't figure out how to manage events.

I tried this
[code]
and this
[code]
and this
[code]
Nothing happens :(

What am I missing?

[2017-06-07 13:35] andreich1980 commented on #51
Found event `@input` with Vue browser extension.
But when I want to select range it fires twice.
Any suggestions?

[2017-06-07 19:08] EstebanMDQ opened #52 "syntax error on BasicInput when running tests"
I'm using vue-bulma-datepicker on a project and I'm  getting this error when running unit tests

        PhantomJS 2.1.1 (Mac OS X 0.0.0) ERROR
          SyntaxError: Unexpected token ')'
          at webpack:///~/vue-bulma-datepicker/src/BasicInput.js:9:0 <- index.js:8795

the only way I managed to fix it is by changing the following on BasicInput.js

[code]

I'm not sure if this is an error on t

[2017-06-07 20:25] EstebanMDQ commented on #52
after I open this issue I realised that this is related to #27 . the solution proposed there avoids this issue.
so I'm closing this one.

[2017-06-07 20:25] #52 closed, assigned to nobody

[2017-06-08 03:41] luventa commented on #52
thanks.

[2017-06-09 02:03] bmf-san opened #53 "How can I use ampm option?"
I would like to use am/pm for date format.
Is there ampm option??
Does vue-bulma-datepicker support ampm option?

[2017-06-09 02:08] bmf-san commented on #53
I solved it.

`dateFormat: Y-m-d H:i K`   // 2017-06-01 12:00 PM

)cf. [Formatting Tokens](https://chmln.github.io/flatpickr/formatting/)

[2017-06-09 02:08] #53 closed, assigned to nobody

[2017-06-13 07:03] holic-cl commented on #4
Shouldn't to be a dependency? (stylus)

[2017-06-13 13:33] Van-Vu commented on #45
@angganegara could you elaborate please? I'm also facing the same issue

[2017-06-13 13:44] angganegara commented on #45
@Van-Vu have you update the script to the latest version? it seems the error is no longer present.

you can also try changing the source file directly. look for this code : `default: () => ({})` and replace it with : `default: function() { return {} }`

[2017-06-13 13:57] Van-Vu commented on #45
@angganegara Yeah, I've just updated the latest babels and it works
Sorry I should have done that before asking
Thanks a lot !

[2017-06-20 09:30] #50 closed, assigned to nobody

[2017-06-20 09:43] luventa commented on #51
This component will only emit event `input` for now.
Range selection will definitely fires `input` twice because the `selectedDates` changes twice...

Other events that belongs to Flatpickr can be set inside `config`
For example, config like this will works

[code]

Here is the [events doc](https://chmln.github.io/flatpickr/events/) for Flatpickr.
Event `onValueUpdate` is not available because thi

[2017-06-20 09:43] #51 closed, assigned to nobody

[2017-06-25 10:06] larsjanssen6 opened #56 "Laravel npm run production fails"
With Laravel 5.4 & Laravel mix 1.0 the `npm run production` fails. `npm run dev` works fine.

Error:

[code]

[2017-06-26 12:31] KKSzymanowski commented on #56
Same here. Also, duplicate of #45

[2017-06-27 01:20] holic-cl opened #57 "Can't make works the toggle and clear buttons on a second datepicker on same view."
Hi, thanks for this package.

I can't make works the data-toggle neither data-clear buttons on a second datepicker added on same view.

[code]

Don't know if i have to add a id or name to the elements.

Any suggestion will be grateful.

[2017-06-27 04:56] holic-cl opened #58 "[Vue warn]: Invalid prop: type check failed for prop "value". Expected String, got Date."
Hi, i tried to give a computed property to the datepicker but is not accepting instances of Date or numbers (timestamps) and i need to give the hour to my datepicker.

I got:

[code]
As [flatpickr documentation say](https://chmln.github.io/flatpickr/examples/) it can specify date as Date, timestamps and strings.

To give it a default time when the module has just mounted i give the date value as I

[2017-06-27 10:52] zywyz commented on #14
Does it work correctly now?

I have `<datepicker v-model="startDate"></datepicker>`
When I pick date everything is ok - startDate updates, but when I programatically clear `startDate = ''` it doesn't clear in datepicker input.
Any ideas?

[2017-07-03 15:02] evandroabukamel commented on #48
I am trying this.

https://github.com/ankurk91/vue-flatpickr-component

[2017-07-12 14:01] okmkey45 opened #59 "clicking outside calendar freezes input"
Hello

When I open the calendar and then I click outside the calendar, this closes the calendar. So far so good. But when I try to click again on the input to open the calendar, is like the input is frozen for some reason. And looking the input, it´s like the input stay focused when I close the calendar clicking outside without choosing a date.

[2017-07-19 07:26] thomhos opened #60 "onChange event for range picker doesn't work consistently"
## Expected Behavior
When passing { onChange: onChangeHandler } as config options, I expect the onChange to be called everytime something changes.

## Actual Behavior
The onChange is called when the datepicker is made visible using v-if. Changes to the actual date range selected do not trigger an onChange.

## Steps to Reproduce the Problem

  1. Create a datepicker with range config and onChange

[2017-07-19 11:24] larsjanssen6 commented on #45
@Van-Vu sorry pretty new to all of this. How can I fix this? I use Laravel mix. I just ran npm update and so it has the newest version. Still receive that error ^?

Thanks  a lot!

[2017-07-19 11:45] angganegara commented on #45
@larsjanssen6 I only know the workaround for this. Open the file in node_modules/vue-bulma-datepicker/src/BasicInput.js and look for this code : `default: () => ({})` and replace it with : `default: function() { return {} }`

[2017-07-19 12:12] larsjanssen6 commented on #45
@angganegara thanks that works. Wondering now why this is not being changed within this package?

[2017-07-19 12:13] larsjanssen6 commented on #45
@angganegara I already see there is a pull request for this sorry.

[2017-07-23 18:09] ctessier opened #62 "How to clear the input programmatically"
Hi,

First, thank you for that awesome component! Works like a charm!

I am looking for a simple way to clear the input programmatically without the use of the `data-clear` button?

I use the `<datepicker>` component in the template of another component. I would like to be able to clear the input of the datepicker within a `@submit` event from the parent form.

Thank you for your help.
Regards,
Cl

[2017-07-27 10:57] KonradHEXANT opened #63 "[Vue warn]: Invalid prop: type check failed for prop "inputClass". Expected Object, got Array."
Why there is object expected? How you suppose to build it?

My current datepicker setup:
`:inputClass="['classOne', 'classTwo']"`

[2017-08-02 08:46] larsjanssen6 opened #64 "Please accept the pull requests!"

[2017-08-05 21:25] havgry commented on #63
The value of the `inputClass` prop is passed to the `:class` binding, so yes it should accept an object or an array, but if you just want to pass static classes you can simply use the regular `class` attribute: https://vuejs.org/v2/guide/class-and-style.html#With-Components

[2017-08-05 23:02] havgry commented on #62
Assuming you're using the `v-model` binding you can simply set the value of your data property to `null`. That should clear the input field.

[2017-08-06 09:34] havgry commented on #58
I agree. Passing a Date object or a Unix timestamp works perfectly well and is probably preferable as it doesn't rely on string parsing. Keep in mind that currently a string is always returned so you'll have to deal with multiple types.

flatpickr returns an array of Date objects. I prefer this approach as it takes date parsing out of the equation (granted you supply a Date object in the first pla

[2017-08-06 10:47] havgry commented on #40
@luventa, this has to be addressed. Currently there are 3 related unresolved issues (#27, #45, #56) and 2 pull requests which are workarounds (#54, #61).

List all the devDependencies and setup a build process for a distribution version. I don't mind doing a PR but at the moment it doesn't seem like you're even looking at them.

[2017-08-06 20:00] balping opened #66 "Upgrade to flatpickr 3"
According to the [upgrade guide](https://chmln.github.io/flatpickr/updating-from-v2/) there should be no problem when upgrading to v3.

[2017-08-07 18:31] #45 closed, assigned to nobody

[2017-08-08 06:22] CryDeTaan commented on #45
I am still getting this error even though I can see that BasicInput.js has been updated after npm update.
Any ideas?

[2017-08-08 08:21] havgry commented on #45
@CryDeTaan Yep, a new release including https://github.com/vue-bulma/datepicker/commit/bf7e6d48589b7c3952e395c3cea70260491a5ebf is still pending.

[2017-08-08 11:40] CryDeTaan commented on #45
Perfect thanks, Implemented #67 manually in the meantime.

[2017-08-09 19:55] ctessier commented on #62
I indeed use the `v-model` binding and set the value to empty as you can see here: [MenergyForm.vue](https://github.com/ctessier/menergy/blob/master/resources/assets/js/components/MenergyForm.vue). Although this doesn't work. I tried setting it to `null` but same.

Thank you for your help.

[2017-08-09 20:56] lpulatie commented on #45
@fundon
Any idea on when the new release will be?

[2017-08-09 23:05] havgry commented on #62
Hmm, so while the underlying value is changed the actual input isn't cleared. I've submitted a pull request here: #69

Btw I don't believe your `@input="setDate"` binding is necessary.

[2017-08-11 10:50] ctessier commented on #62
Thank you. Waiting for the #55 to be merged. I also think your approach is better but we will see :)

[2017-08-16 20:18] ghost opened #70 "How to show only months?"
i want show only months in datepicker, it being monthpicker. Could someone help me?

[2017-08-24 03:11] elvisyang2016 commented on #47
Any update?

[2017-08-27 22:05] Kuchiriel commented on #47
@elvisyang2016

Try override the css
datepicker {
z-index: 99999;
}

[2017-08-28 10:13] havgry commented on #47
I can't replicate the issue locally. The flatpickr z-index is 99999 (999 if `static`) while the Bulma modal is 20. Provide a JSFiddle if you're serious about resolving this.

[2017-08-28 10:29] havgry commented on #70
This is simply a Vue implementation of flatpickr and thus requests for new features and discussion thereof not related to the actual implementation is better directed at the flatpickr repo. The feature has already been requested here: https://github.com/chmln/flatpickr/issues/269

[2017-08-28 10:30] elvisyang2016 commented on #47
@Kuchiriel @havgry Thanks. I used to check the issues before I apply it. I do not find this issue too.
But there is another issue blocking me to use it. I wanted add addons to the input dom using slot, but can't get the right style. Finally, I found out this component is based on Bulma 0.3.x, and the addons format already changed in 0.4.x.

[2017-08-28 14:36] KKSzymanowski commented on #45
Before it's released you can pull the latest version by specifying the GitHub repository and the commit hash:
[code]

[2017-08-28 14:42] lpulatie commented on #45
Thanks. That’s what I ended up doing.

On August 28, 2017 at 9:36:29 AM, Kuba Szymanowski (notifications@github.com)
wrote:

Before it's released you can pull the latest version by specifying the
GitHub repository and the commit hash:

"dependencies": {
    "vue-bulma-datepicker": "git://github.com/vue-bulma/datepicker#bf7e6d4"
}

—
You are receiving this because you commented.
Reply to this email

[2017-08-29 21:42] Kuchiriel commented on #47
@elvisyang2016 Yes, I am using bulma-stylus, which sticks with 0.3.x, It would be interesting to update the components, Bulma 0.4.x looks nice.

[2017-09-07 15:16] beldougie commented on #64
Just cost me 2 hours of hunting because I didn't realise you weren't using v-model in a standard way. Please accept either #55 or #62 at least.

[2017-09-12 08:55] anish000kumar commented on #4
The only thing that worked for me-

`$ npm install stylus stylus-loader ---save-dev `

[2017-09-21 15:58] yariksav opened #71 "Add "stylus-loader" to package.json"
Module not found: Error: Can't resolve 'stylus-loader'
You need to add "stylus-loader" to package.json

[2017-09-21 16:09] yariksav commented on #71
add "stylus" to dependies also:
    "stylus": "^0.54.5",
    "stylus-loader": "^3.0.1",

[2017-10-01 16:46] saintplay commented on #71
Yeah, this is very important. It doesn't work without this

[2017-10-01 16:49] yariksav commented on #71
And please update version of flatpickr to lastest 3.0.7, because vesrion 2 has bugs

[2017-10-05 17:16] havgry commented on #71
I've switched to [vue-flatpickr-component](https://github.com/ankurk91/vue-flatpickr-component) and I suggest others do the same. I consider this repo to be abandoned.

[2017-10-06 09:07] KKSzymanowski opened #72 "Set locale globally"
Is there a way to set the datepicker language globally without always needing to add the config option to the `<datepicker>` tag?

[2017-10-21 14:14] janva255 commented on #45
Can you please push a new release?

[2017-10-27 13:56] JeremieLapert commented on #45
Can you please push a new release?

[2017-10-27 13:58] angganegara commented on #45
just use this instead https://github.com/ankurk91/vue-flatpickr-component since the owner of this package doesn't seem to update anymore. I already did.

[2017-10-27 15:06] JeremieLapert commented on #45
It"s done, it works !

thank you !

[2017-11-17 20:40] Rossidges commented on #14
Hi, know this is a bit old.
If anyone else is struggling with this... i found the following works using refs:

```<datepicker v-model="date" ref="fp"></datepicker>```
to clear input
```this.$refs.fp.datepicker.clear()```

[2017-11-28 15:21] LaiNguyen commented on #59
Have same issue here

[2017-11-28 16:21] okmkey45 commented on #59
@LaiNguyen I couldn´t solve this problem so I changed the package. I used this [datepicker](https://github.com/charliekassel/vuejs-datepicker)

So far so good. Maybe this could help you

[2017-11-28 18:37] LaiNguyen commented on #59
@okmkey45 thank you mate, I found that source also. Have a great day!

[2017-11-29 13:53] Romick2005 opened #75 "click-away vs click-outside"
Is it a good idea to use [vue-clickaway](https://github.com/simplesmiler/vue-clickaway) instead of [click-outside](https://github.com/vue-bulma/click-outside/blob/master/index.js)?

[2017-12-11 19:04] GMaiolo commented on #64
@larsjanssen6 @beldougie this seems pretty much abandoned, maybe we could fork and upload to npm?

[2018-01-25 02:39] Crammaman commented on #58
Add inputClass to your datepicker IE:

`<datepicker :inputClass="Date"><datepicker>`

Then it'll hand the date onto flatpickr as a Date object.

[2018-01-30 17:22] sofuxro opened #76 "Can't delete a date once selected"
I've tried this:

    <datepicker :model="startAt" :config="{ wrap: true }">
        <a class="button" data-clear><i class="fa fa-close"></i></a>
    </datepicker>

(it does remove it from the input but the date persists in the model
=> the user doesn't see a date anymore, but the code still has it)

I saw that flickr (the one implemented here) can delete dates with Backspace. On this datepicker I

[2018-02-28 22:53] dgriego commented on #76
I am also having this same issue,

I tried adding a click event in addition to the data-clear like so (primitive example):
[code]
this actually updated the data to the value I wanted, but visually it would clear and then the date would somehow reappear even though the data properties value was now an empty string.  If you try this method you will have to click twice to remove it from the UI as wel

[2018-09-09 14:34] cryarchy commented on #62
I also have the same issue. Setting the bound to variable's value to "" or null does not clear the input.

[2018-09-17 10:38] 4fleetCo commented on #72
put this in your main.js file.

import Datepicker from 'vue-bulma-datepicker'
Vue.component('Datepicker', Datepicker)

[2018-10-16 21:08] soaresdude commented on #72
@KKSzymanowski could you set the locale only on the input? Can you paste here the code? I'm trying to do the same thing, but I want to avoid setting the locale globally.

[2019-01-28 20:37] soaresdude opened #77 "this.$watch('config', this.redraw) doesn't seem to be triggering the redraw method"
[code]

The `redraw` method doesn't seem to be triggered with the `config` watcher. The console.log I've put
on it is never called.

[2019-04-05 03:48] jaybeecave commented on #76
Agreed this is annoying but you can do something like
[code]

I have the datepicker wrapped in my own control

[2019-04-07 18:38] sofuxro opened #78 "Leap Year issue with dateFormat: 'd.m.Y'"
when I select 29 Feb 2020 it actually selects 1st of March 2020.

if I change the format to Y.m.d - it works (this is what confuses me)

any ideas ?

[2019-04-08 06:58] sofuxro commented on #78
this:

    parseDate:  function (dateStr) { return moment(dateStr, 'DD.MM.YYYY').toDate(); },
    formatDate: function (dateObj) { return moment(dateObj).format('DD.MM.YYYY'); },

fixed the issue

[2019-05-10 06:25] sofuxro commented on #78
but these break the time (I'm stuck in 12h format)

[2019-05-10 06:25] #78 closed, assigned to nobody

[2019-06-13 23:46] deckar01 commented on #64
I forked and published the datepickr v4 branch as 2.0.0. It fixed the bug I was hitting.

https://github.com/deckar01/datepicker

I published it to npm as `deckar01-vue-bulma-datepicker`. I haven't hit any of the other bugs yet. If you PR my fork, I will review and merge. Thanks.

[2019-08-25 22:05] erythro commented on #47
[Here ](https://github.com/jgthms/bulma/issues/936#issuecomment-517737540) is a css fix for the modal